<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:ia="http://schemas.iawidget.org/widgetconfig-1.0">

    <name>WebWrap</name>
    <description>Web-Wrapper Widget for GarlicSignage. Opens any URL in an iframe and returns to the default playlist after a configurable idle timeout.</description>
    <author href="https://sagiadinos.com.com" email="niko@sagiadinos.com">Niko Sagiadinos</author>
    <content src="index.html"/>
    <icon src="icon.png"/>

    <preference name="url" value="https://example.com" ia:tooltip="URL" ia:types="string" ia:mandatory="true"/>
    <preference name="idle_timeout" ia:default="60" ia:tooltip="Idle Timeout (seconds)" ia:types="number" ia:mandatory="false"/>
    <preference name="warn_at" ia:default="10" ia:tooltip="Warn Countdown (seconds)" ia:types="number" ia:mandatory="false"/>
    <preference name="show_overlay" ia:default="true" ia:tooltip="Show Overlay" ia:types="string" ia:mandatory="false"/>
    <preference name="overlay_msg" ia:default="Tap to continue" ia:tooltip="Overlay Message" ia:types="string" ia:mandatory="false"/>
    <preference name="player_host" ia:default="localhost" ia:tooltip="Player API Host" ia:types="string" ia:mandatory="false"/>
    <preference name="player_port" ia:default="8080" ia:tooltip="Player API Port" ia:types="number" ia:mandatory="false"/>


</widget>